@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Neucha&family=Rampart+One&family=Rubik+Bubbles&family=Rubik+Mono+One&display=swap');



:root {
    --bg-color: white;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100vh;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(202, 216, 238);
    transition: background-color 0.5s ease;
}



.repeat1 {
    background: url(img/repeat-50.png) no-repeat;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 25px;
    background-color: none;
}

.repeat1:hover {
    box-shadow: rgba(52, 122, 221, 0.5) 0 1px 30px;
    transition-duration: .1s ease;
   
}

footer {

    width: 100vw;
}

.wrapper {
    display: grid;
    grid-template-rows: 1fr 200px;
    height: 100vh;

}

.mainText {
    color: #202020;
    text-transform: uppercase;
    letter-spacing: -2px;
    display: block;
    margin: 0;
    line-height: 80px;
    text-shadow: 0 13.36px 8.896px #8cb3ce, 0 -2px 1px rgb(98, 154, 190);
    letter-spacing: -4px;
    font-family: 'Rubik Bubbles', cursive;
    font-size: 150px;
    text-transform: uppercase;
    animation: colorchange6 5s ease infinite alternate;
    padding: 0;
    justify-content: center;
    line-height: 1;
}

.button-36 {
    background-image: linear-gradient(92.88deg, #5a8dda 9.16%, #5192e6 43.89%, #4a8de6 64.72%);
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    font-family: "Inter UI", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 2rem;
    font-weight: 500;
    height: 100%;
    width: 100%;
    padding: 0 24px;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

}

.button-36:hover {
    box-shadow: rgba(52, 122, 221, 0.5) 0 1px 30px;
    transition-duration: .1s ease;
}

@media (min-width: 768px) {
    .button-36 {
        padding: 0 2.6rem;
    }
}


.smile {
    padding: 20px auto;
    border: 1px;
    transform: scale(1.2);
}


.button {
    background-color: rgb(163, 156, 140);
    border: 1px;
    text-align: center;
    color: aqua;
    padding: auto;
    font-size: 25px;
}


.button-1 {
    background-color:rgb(79, 159, 250);
    border: none;
    border-radius: 25px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 15px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }
  
  .button-1:hover {opacity: 1}

.CVETIK {
    justify-content: top;
    text-align: center;
    width: 100%;
    display: flex;
    flex: 1;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.CVETIK h1 {
    margin: 0;
    font-family: 'NikkyouSans';
    font-size: 8rem;
    text-transform: uppercase;
    animation: colorchange6 5s ease infinite alternate;
    justify-content: center;

}

.muteBtn {
    /* background: url("img/muteF.png") no-repeat; */
    position:fixed;
    width: 40px;
    height: 50px;
    top: 0;
    right: 0;
    margin-right: 3%;
    margin-top: 3%;
    border: 0;
    border-radius: 25px;
    cursor: pointer;
}

.mute1 {
    background: url("img/muteActive.png") no-repeat;
    position:fixed;
    width: 30px;
    height: 30px;
    top: 0;
    right: 0;
    margin-right: 3%;
    margin-top: 3%;
    border: 0;
    border-radius: 25px;
    cursor: pointer;
}



.CVETIK h2 {
    font-size: 4rem;
    color: #2e2e2e;

}

.motivate {

    border-radius: 25% 10% 25% 10%;
    padding: 20px;
}

.motivation1 {
    font-family: 'LetoTextSansDefect';
    padding: 1rem;
    width: 420px;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11),
        0 5px 15px 0 rgba(111, 156, 224, 0.08);
    background-color: rgba(rgb(255, 255, 255)(255, 255, 255), rgb(54, 98, 241), rgb(255, 255, 255), alpha 50%);
    border-radius: 0.5rem;
    transition: border-left 300ms ease-in-out, padding-left 300ms ease-in-out;
    line-height: 2;


}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
}

#myBtn {
    background-color: #72727200;
    border: 0;
}

input[type="text"]:focus {
    color: #525252;
    
  }

input {
    border: 0;
    border-radius: 25px;
    outline: none;
}

input[type=text] {
    font-size: 1rem;
    font-family: 'LetoTextSansDefect';
    padding: 10px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}


.modal-content {
    background-color: #fefefe;
    margin: 35% auto;
    margin-top: 20%;
    padding: 20px;
    width: 200px;
    border-radius: 25px;

}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.choise-name {
    width: 100%;
    color: #2e2e2e;
    display: block;
    background: #e3f0f7;
    text-align: center;
    padding: 0.55em 1em;
    box-sizing: border-box;
    border-radius: 0.2em;
}

.name {
    margin: 1em auto;
    cursor: pointer;

}

.name select {
    background-color: #66abe4;

    color: white;
    padding: 12px;
    width: 250px;
    border: none;
    border-radius: 25px;
    font-size: 2rem;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
}

.name select:hover {
    box-shadow: rgba(52, 122, 221, 0.5) 0 1px 30px;
    transition-duration: .1s ease;
}

option {
    width: 4rem;
}

.trueName {
    font-family: 'LetoTextSansDefect';
    font-size: 4rem;
    color: #2e2e2e;
}

label span {
    --display: none;
    display: var(--display);
    width: 1rem;
    height: 1rem;
    border: 1px solid #727272;
    border-radius: 3px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.CVETIK h1:hover:after {
    content: " (НЕТ)";
    margin: 0;
    font-family: 'NikkyouSans';
    font-size: 8rem;
    text-transform: uppercase;
    animation: colorchange6 5s infinite ease alternate;
    justify-content: center;
}



@keyframes colorchange6 {


    0% {
        color: rgb(79, 159, 250);
    }

    100% {
        color: rgb(51, 158, 247);
    }
}


@media only screen and (max-width: 320px) {
    html {
        font-size: 4px;

    }
}

@media only screen and (min-width: 300px) and (max-width: 480px) {
    html {
        font-size: 6px;

    }
}

@media only screen and (min-width: 481px) and (max-width: 760px) {
    html {
        font-size: 12px;

    }
}




@font-face {
    font-family: "gogono-cocoa-mochi-cyrillic";
    src: url("fonts/gogono-cocoa-mochi-cyrillic.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Ermilov-bold";
    src: url("fonts/Ermilov-bold.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "NikkyouSans";
    src: url("fonts/NikkyouSans.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "LetoTextSansDefect";
    src: url("fonts/LetoTextSansDefect.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
}







.button-49,
.button-49:after {
  width: 150px;
  height: 76px;
  line-height: 78px;
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-49:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'ALTERNATE TEXT';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.button-49:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .button-49,
  .button-49:after {
    width: 200px;
    height: 86px;
    line-height: 88px;
  }
}